<p>The other day, I stumbled onto a group working partials into their views for a new rails project.</p>
<p>They showed me how to do it and I had a cool new trick to use.</p>
<p>But something bugged me about the random encounter...</p>
<p>I figured that all around the room, every day, people were figuring out stuff like this. We've all been working on the same core curriculum, but depending on which way you take it, you have to figure out things that are just a little bit beyond the core, but within reach when you dig a little deeper.</p>
<p>So how could we surface all these cool little insights and share them with each other?</p>
<br>
<p><strong>Sign in to see what other people have been figuring out and vote for the ones you'd like to learn.</strong></p>
