<h3>Edit Achievements</h3>

<table>
  <thead>
    <tr>
      <th width="500">Achievement</th>
      <th width="150">Posted By</th>
      <th width="150">Remove</th>
    </tr>
  </thead>
  <tbody>
    <% @achievements.each do |achievement| %>
    <tr>
      <td><%= achievement.task %></td>
      <td><%= achievement.user.name %></td>
      <td><%= link_to "Delete", achievement, method: :delete, class: "button tiny" %></td>
    <tr>
    <% end %>
   </tbody>
 </table>

<p><%= link_to "Back to Achievements", root_url %></p>
