<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar>
  <div class="top-bar-section">
    <ul class="right">
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
</nav>

