<%# add navigation links to this file %>

<% if current_user %>
    <li class="name">Welcome <strong><%= current_user.name %></strong>!</li>
    <% if current_user.admin? %>
      <li><%= link_to "Edit Achievements", 'achievements/edit' %></li>
    <% end %>
    <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
<% end %>

